{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa kirjoitusta</h1>
  
  <form action="{{base_path}}/post/{{post.postId}}/destroy" method="post" class="destroy-form" 
        data-confirm="Oletko varma, että haluat poistaa kirjoituksen? Toimintoa ei voi peruuttaa">
    <input type="submit" class="btn btn-danger" value="Poista" />
  </form>
  
  <form method="post">
    <!-- Text field for post title -->
    <div class="form-group">
      <label>Otsikko</label>
      <input type="text" class="form-control" name="title" value="{{post.title}}">
    </div>

    <!-- Editing component for the content -->
    <div class="form-group">
      <label>Sisältö</label>
      <input type="text" class="form-control" name="content" value="{{post.content}}">
    </div>
    
    <div class="form-group">
      <label>Aihesanat (erota välilyönnillä)</label>
      <input type="text" class="form-control" name="tags" value="{{tags}}">
    </div>

    {% if can_edit %}
    <button type="submit" class="btn btn-primary">Ota muutokset käyttöön</button>
    {% else %}
    Et voi muokata tätä.
    {% endif %}
  </form>
{% endblock %}