{% extends "base.html" %}
{% block content %}
  <h1>Muokkaa kirjoitusta</h1>
  
  <form action="{{base_path}}/post/{{post.postId}}/destroy" method="post">
    <input type="submit" class="btn btn-danger" value="Poista" />
  </form>
  
  <form>
    <!-- Text field for post title -->
    <div class="form-group">
      <label>Otsikko</label>
      <input type="text" class="form-control" value="{{post.title}}">
    </div>

    <!-- Editing component for the content -->
    <div class="form-group">
      <label>Sisältö</label>
      <input type="text" class="form-control" value="{{post.content}}">
    </div>

    <button type="submit" class="btn btn-primary">Ota muutokset käyttöön</button>
  </form>
{% endblock %}