{% extends "base.html" %}
{% block content %}
  <h1>{{blog.name}}</h1>
  
  <form action="{{base_path}}/blog/{{blog.blogId}}/destroy" method="post" class="destroy-form" 
        data-confirm="Oletko varma, että haluat poistaa blogin? Toimintoa ei voi peruuttaa">
    <input type="submit" class="btn btn-danger" value="Poista blogi" />
  </form>
  
  <form method="post">
    <input type="hidden" class="form-control" name="blogid" value="{{blog.blogId}}">
    <div class="form-group">
      <label>Kuvaus</label>
      <input type="text" class="form-control" name="name" value="{{blog.name}}">
    </div>
    <div class="form-group">
      <label>Kuvaus</label>
      <input type="text" class="form-control" name="description" value="{{blog.description}}">
    </div>
    {% if can_edit %}
      <button type="submit" class="btn btn-primary">Ota muutokset käyttöön</button>
    {% else %}
      Et voi muokata tätä.
    {% endif %}
  </form>
{% endblock %}