{% extends "base.html" %}
{% block content %}
  <h1>Blogit</h1>

  {% if user_logged_in %}
  <p>
    <a href="{{base_path}}/blog/new" class="btn btn-primary">Luo blogi</a>
  </p>
  {% endif %}

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Kuvaus</th>
      </tr>
    </thead>

    <tbody>
      {% for blog in blogs %}
      <tr>
        <td><a href="{{base_path}}/blog/{{blog.blogId}}">{{blog.name}}</a></td>
        <td>{{blog.description}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}