{% extends "base.html" %}
{% block content %}
  <h1>{{blog.name}}</h1>
  
  <!-- For owner or admin only -->
  {% if can_destroy %}
  <p>
    <a href="{{base_path}}/blog/{{blog.blogId}}/edit" class="btn btn-default">Muokkaa tai poista</a>
  </p>
  {% endif %}
  
  {% if can_edit %}
  <form action="{{base_path}}/post/new" method="post">
    <input type="hidden" name="blogId" value="{{blog.blogId}}" />
    <input type="submit" value="Uusi kirjoitus" class="btn btn-default" />
  </form>
  {% endif %}
  
  <a href="{{base_path}}/user/{{author.userId}}">{{author.username}}</a><br>
  {{blog.description}}
  <!-- Description, statistics -->
  
  {% include "post/list.html" %}
  
{% endblock %}