{% extends "base.html" %}

{% block content %}
    <div class="input-form">
        <h1 class="text-center">Kirjaudu sisään</h1>
        <div class="form-group">
            <form method="post">
                <input type="text" name="username" class="form-control" placeholder="Käyttäjätunnus" required autofocus>
                <input type="password" name="password" class="form-control" placeholder="Salasana" required>
                <button class="btn btn-block btn-primary" type="submit">Kirjaudu sisään</button>
            </form>
            <a href="{{base_path}}/register" class="text-center new-account">Tee uusi tunnus?</a>
        </div>
    </div>
{% endblock %}