<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <!-- App name -->
        <a class="navbar-brand" href="{{base_path}}">Blogipalvelu</a>
    </div>

    <div class="collapse navbar-collapse" id="navigation">
        <ul class="nav navbar-nav">
            <!-- Navigation links -->
            <li><a href="{{base_path}}/blog">Blogit</a></li>
            {% if user_logged_in %}
                <li><a href="{{base_path}}/post">Kirjoitukset</a></li>
            {% endif %}
            <!--<li><a href="{{base_path}}/">Aihesanat</a></li>-->
            <li><a href="{{base_path}}/user">Käyttäjät</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div id="search-bar">
                    <form onsubmit="window.location.href='{{base_path}}/search/'+document.getElementById('searchTextbox').value.replace(/[^a-zA-Z0-9]/g, '-').replace(' ', '-');return false;" >
                        <input type="text" class="form-control stylify" id="searchTextbox" placeholder="Hae">
                    </form>
                </div>
            </li>
            {% if user_logged_in %}
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                {{user_logged_in.username}} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                <li><a href="{{base_path}}/user/{{user_logged_in.userId}}">Oma sivu</a>
                <li><a href="{{base_path}}/user/{{user_logged_in.userId}}/edit">Asetukset</a>
                <li><a href="{{base_path}}/logout">Kirjaudu ulos</a></li>
                </ul>
            </li>
            {% else %}
            <li><a href="{{base_path}}/login">Kirjaudu sisään</a></li>
            <li><a href="{{base_path}}/register">Rekisteröi</a></li>
            {% endif %}
        </ul>
    </div>
    </div>
</nav>