{% extends "base.html" %}

{% block content %}
    <div class="input-form">
        <h1 class="text-center">Rekisteröi</h1>
        <div class="form-group">
            <form method="post">
                <input type="text" name="email" class="form-control" placeholder="Email" required autofocus>
                <input type="username" name="username" class="form-control" placeholder="Käyttäjätunnus" required>
                <input type="password" name="password" class="form-control" placeholder="Salasana" required>
                <button class="btn btn-block btn-primary" type="submit">Rekisteröi tunnus</button>
            </form>
            <a href="{{base_path}}/login" class="text-center new-account">Kirjaudu sisään?</a>
        </div>
    </div>
{% endblock %}
