{% extends "base.html" %}

{% block content %}
  <div class="page-header">
    <h1>Rekisteröityminen</h1>
  </div>
  
  <form method="post">
     <div class="form-group">
      <label>Sähköposti</label>
      <input type="text" name="email" class="form-control">
    </div>
    
    <div class="form-group">
      <label>Käyttäjätunnus</label>
      <input type="text" name="username" class="form-control">
    </div>

    <div class="form-group">
      <label>Salasana</label>
      <input type="password" name="password" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Rekisteröi tunnus</button>
  </form>
{% endblock %}