{% extends "base.html" %}
{% block content %}
  <h1>Käyttäjän x sivu</h1>
  
  <button class="btn btn-danger">Poista käyttäjä</button>
  
  <form>
    <div class="form-group">
      <label>Uusi salasana</label>
      <input type="password" class="form-control">
    </div>
    
    <div class="form-group">
      <label>Uusi salasana uudestaan</label>
      <input type="password" class="form-control">
    </div>
    
    <div class="form-group">
      <label>Vanha salasana</label>
      <input type="password" class="form-control">
    </div>
    
    <div class="form-group">
      <label>Käyttäjän kuvaus</label>
      <input type="text" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Ota muutokset käyttöön</button>
  </form>
{% endblock %}